{% extends 'base.html' %}

{% block content %}

<div class="feed" id="feedContainer">

<div class="loading">Loading posts...</div>

</div>

{% endblock %}


{% block js %}

<script>

async function loadFeed(){

const res = await fetch("/api/feed")

const data = await res.json()

const container = document.getElementById("feedContainer")

container.innerHTML = ""

data.posts.forEach(post=>{

container.innerHTML += `
    
<div class="post">

<div class="post-header">

<div class="user">

<img src="${post.profile_pic || '/static/images/user.png'}">

<div>
<h4>${post.full_name}</h4>
<span>@${post.username}</span>
</div>

</div>

<a href="/profile/${post.student_id}" class="view-profile">
View Profile
</a>

</div>


<img src="${post.image_url}" class="project-img">


<p class="description">
${post.caption || ""}
</p>


<div class="actions">

<button onclick="likePost(this)">❤️ Like</button>

<button onclick="sharePost('${post.image_url}')">🔗 Share</button>

</div>

</div>

`

})

}



function likePost(btn){

btn.classList.toggle("liked")

btn.innerText = btn.classList.contains("liked") ? 
"❤️ Liked" : "❤️ Like"

}


function sharePost(url){

navigator.clipboard.writeText(url)

alert("Post link copied!")

}


loadFeed()

</script>

{% endblock %}