<div class="navbar">
    <div class="nav-left">
        <h2>SkillNet</h2>
        <a href="/feed" class="nav-link {% if active_page == 'feed' %} active {%endif%}">Feed</a>
        <a href="/search" class="nav-link {% if active_page == 'search' %} active {%endif%}">Search</a>
    </div>

    <div class="nav-right">
        {% if session.get("user") %}
        <span class="student-name">{{session.user.fullname}}</span>
        <img src=`{session.user.profileUrl}` class="profile-img">
        {% endif %}
        <a href="/profile" class="profile-link {% if active_page == 'profile' %} active {%endif%}">Profile</a>
    </div>
</div>
